* {
    margin:0;
    padding:0;
  }
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #fff;
    line-height: 1.6;
    text-align: center; 
}
.DevInfo {
    color: black;
}
.title {
    color: black;
}